body {
  background: #fefefe;
}
h1 {
  color: #020122;
}
h2 {
  color: #ff521b;
}
h3 {
  color: #fc9e4f;
}
h4 {
  color: #bbd1ea;
}
p {
  color: #662e9b;
}
ul {
  color: #edd382;
}
.hotpink-header {
  color: hotpink;
}
#top {
  background: ffff;
}
a {
  color: pink;
}
nav a {
  color: pink;
}
.navigation {
    background: pink;
    padding: 16px;
    border-radius: 8px;
}
.navigation__link {
    color: white;
    display: inline-block;
    margin: 5px;
}
.img-circle {
    border-radius: 50%;
}